@page "/"
@model AT.Pages.Pacotes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Pacotes Turisticos</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PacotesTuristicos[0].Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PacotesTuristicos[0].DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PacotesTuristicos[0].CapacidadeMaxima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PacotesTuristicos[0].PrecoDiaria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PacotesTuristicos[0].Destinos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PacotesTuristicos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacidadeMaxima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoDiaria)
            </td>
                <td>
                    @string.Join(", ", item.Destinos.Select(d => d.CidadeDestino?.Nome))
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
